@model ICollection<MenuItemViewModel>
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="top_menu row m0">
        <div class="container">
            <div class="float-left">
                <a href="mailto:support@colorlib.com">support@colorlib.com</a>
                <a href="#">Welcome to Catalouge</a>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt=""></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Categories" asp-action="Create">Create Category</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="All">Users</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Reports" asp-action="All">Reports</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Orders" asp-action="All">Orders</a></li>
                                </ul>
                            </li>
                        }
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    @foreach (var category in Model)
                                    {
                                        <li class="nav-item"><a class="nav-link" asp-area="Shopping" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@category.Id">@category.Name</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-area="Shopping" asp-controller="Products" asp-action="Create">Create Product</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Shopping" asp-controller="Products" asp-action="MyProducts">My Products</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Profile" asp-controller="Orders" asp-action="SellOrders">Sell Orders</a></li>
                                    <li class="nav-item "><a class="nav-link" asp-area="Profile" asp-controller="Orders" asp-action="PurchaseOrders">Purchase Orders</a></li>
                                </ul>
                            </li>
                        } 
                    </ul>
                    <partial name="_LoginPartial" />
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a asp-area="Profile" asp-controller="Cart" asp-action="Index" class="cart"><i class="lnr lnr lnr-cart"></i></a></li>
                            <li class="nav-item"><a asp-area="Profile" asp-controller="Wishlist" asp-action="Index" class="cart"><i class="lnr lnr lnr-heart"></i></a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>

        @if (TempData.ContainsKey("Error"))
        {

            <div class="alert alert-danger" role="alert" id="errorMsg">
                <button type="button" class="close" data-dismiss="alert" onclick="$('#errorMsg').css('display', 'none');" aria-label="Close">
                    <span>&times;</span>
                </button>
                <strong>Oh snap!</strong> @TempData["Error"]
            </div>

        }

        @if (TempData.ContainsKey("Success"))
        {

            <div class="alert alert-warning" role="alert" id="successMsg">
                <strong>Congrats!</strong> @TempData["Success"]
                <button type="button" class="close" data-dismiss="alert" onclick="$('#successMsg').css('display', 'none');" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        }
    </div>
</header>