@model CategoryProductsViewModel

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Shop Category Page</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="category.html">Category</a>
                    <a href="category.html">Women Fashion</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Category Product Area =================-->
<section class="cat_product_area p_120">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <div class="right_page ml-auto">
                        <nav class="cat_page" aria-label="Page navigation example">
                            <partial name="_PaginationControls" model="@Model.Pagination"/>
                        </nav>
                    </div>
                </div>
                <div class="latest_product_inner row">
                    @foreach (var item in Model.Products)
                    {
                        <partial name="_Product" model="@item"/>
                    }
                </div>
            </div>
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets cat_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li><a href="#">Fruits and Vegetables</a></li>
                                <li>
                                    <a href="#">Meat and Fish</a>
                                    <ul class="list">
                                        <li><a href="#">Frozen Fish</a></li>
                                        <li><a href="#">Dried Fish</a></li>
                                        <li><a href="#">Fresh Fish</a></li>
                                        <li><a href="#">Meat Alternatives</a></li>
                                        <li><a href="#">Meat</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Cooking</a>
                                    <ul class="list">
                                        <li><a href="#">Frozen Fish</a></li>
                                        <li><a href="#">Dried Fish</a></li>
                                        <li><a href="#">Fresh Fish</a></li>
                                        <li><a href="#">Meat Alternatives</a></li>
                                        <li><a href="#">Meat</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Beverages</a>
                                    <ul class="list">
                                        <li><a href="#">Frozen Fish</a></li>
                                        <li><a href="#">Dried Fish</a></li>
                                        <li><a href="#">Fresh Fish</a></li>
                                        <li><a href="#">Meat Alternatives</a></li>
                                        <li><a href="#">Meat</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Home and Cleaning</a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Product Filters</h3>
                        </div>
                        <div class="widgets_inner">
                            <h4>Brand</h4>
                            <ul class="list">
                                <li><a href="#">Apple</a></li>
                                <li><a href="#">Asus</a></li>
                                <li class="active"><a href="#">Gionee</a></li>
                                <li><a href="#">Micromax</a></li>
                                <li><a href="#">Samsung</a></li>
                            </ul>
                        </div>
                        <div class="widgets_inner">
                            <h4>Color</h4>
                            <ul class="list">
                                <li><a href="#">Black</a></li>
                                <li><a href="#">Black Leather</a></li>
                                <li class="active"><a href="#">Black with red</a></li>
                                <li><a href="#">Gold</a></li>
                                <li><a href="#">Spacegrey</a></li>
                            </ul>
                        </div>
                        <form asp-controller="Categories" asp-action="Products" method="get">
                            <div class="widgets_inner">
                                <h4>Price</h4>
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <div class="row m0">
                                        <label for="amount">Price : </label>
                                        <input type="text" id="amount" name="price" readonly>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" name="categoryId" value="@Model.Pagination.Category"/>
                            </div>
                            <div>
                                <input type="submit" value="Search"/>
                            </div>
                        </form>
                       
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->
<!--================Most Product Area =================-->
<partial name="_MostOrderedProductsSection" model="@Model.MostOrderedProducts" />