<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <title>CLShop</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/linericon/style.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/lib/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/lib/animate-css/animate.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

    @await Component.InvokeAsync("Navigation")

    @RenderBody();

    <div id="chats"></div>
    <partial name="_Footer" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/stellar.js"></script>
    <script src="~/lib/lightbox/simpleLightbox.min.js"></script>
    <script src="~/lib/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/lib/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/isotope/isotope-min.js"></script>
    <script src="~/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/lib/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/lib/flipclock/timer.js"></script>
    <script src="~/lib/counter-up/jquery.counterup.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var connection =
                new signalR.HubConnectionBuilder()
                    .withUrl("/chat")
                    .build();

            connection.on("NewMessage",
                function (message) {
                    var chatInfo = '';
                    if ("@User.Identity.Name" === message.receiver) {

                        var messageList = $(`.panel-title:contains(${message.user})`).parent().parent().parent().parent().find('.messagesList');
                        chatInfo = ` <div class="row msg_container base_receive">
                                        <div class="col-md-2 col-xs-2 avatar">
                                            <img src="http://iconhot.com/icon/png/bunch-cool-bluish-icons/512/group-18.png" class="img-responsive chat_img">
                                        </div>
                                        <div class="col-md-10 col-xs-10">
                                            <div class="messages msg_receive">
                                                <p>
                                                     ${message.text}
                                                </p>
                                                <time datetime="${Date.now()}">Timothy • ${new Date().getHours()}:${new Date().getMinutes()}</time>
                                            </div>
                                        </div>
                                    </div>`;

                        if ($(messageList).length > 0) {
                            messageList.append(chatInfo);
                            messageList.scrollTop($(messageList)[0].scrollHeight);
                        } else {
                            $.ajax({
                                type: "GET",
                                url: '/Shopping/Products/Message',
                                data: ({ username: message.user }),
                                success: function (data) {
                                    $('#chats').append(data);

                                    var receiverMessages = $(`.panel-title:contains(${message.user})`).parent().parent().parent().parent().find('.messagesList');

                                    if (message.unReadMessages.length > 0) {
                                        for (let msg of message.unReadMessages) {
                                            let unRead = ` <div class="row msg_container base_receive">
                                                                <div class="col-md-2 col-xs-2 avatar">
                                                                    <img src="http://iconhot.com/icon/png/bunch-cool-bluish-icons/512/group-18.png" class="img-responsive chat_img">
                                                                </div>
                                                                <div class="col-md-10 col-xs-10">
                                                                    <div class="messages msg_receive">
                                                                        <p>
                                                                             ${msg.text}
                                                                        </p>
                                                                        <time datetime="${Date.now()}">Timothy • ${msg.dateOfCreation}</time>
                                                                    </div>
                                                                </div>
                                                            </div>`;

                                            receiverMessages.append(unRead);
                                        }

                                        receiverMessages.scrollTop($(receiverMessages)[0].scrollHeight);

                                    } else {
                                        receiverMessages.append(chatInfo);
                                        receiverMessages.scrollTop($(receiverMessages)[0].scrollHeight);
                                    }  
                                },
                                error: function(e) {
                                    console.log(e);
                                }
                            });
                           
                        }

                        connection.invoke('MarkMessagesAsRead', message.user);
  
                    } else if ("@User.Identity.Name" === message.user) {
                        console.log(message);
                        var senderMessages = $(`.panel-title:contains(${message.receiver})`).parent().parent().parent().parent().find('.messagesList');
                        chatInfo = `
                                <div class="row msg_container base_sent">
                                    <div class="col-md-10 col-xs-10 ">
                                        <div class="messages msg_sent">
                                            <p>
                                                ${message.text}
                                            </p>
                                            <time datetime="${Date.now()}">Timothy • ${new Date().getHours()}:${new Date().getMinutes()}</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" class="img-responsive chat_img">
                                    </div>
                                </div>`;

                        senderMessages.append(chatInfo);
                        senderMessages.scrollTop($(senderMessages)[0].scrollHeight);
                    } 
                });

            connection.start()
                .then(() => {
                    $.ajax({
                        type: "GET",
                        url: '/Shopping/Products/ClearChats',
                        success: function () {
                            connection.invoke("NotRead");
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                })
                .catch(function (err) {
                    return console.error(err.toString());
                });

            $.connection = connection;

            $(".open-chat").click(function (e) {
                var username = $(this).text();
                var chat = $(`.panel-title:contains(${username})`);
                if (chat.length === 0) {
                    $.ajax({
                        type: "GET",
                        url: '/Shopping/Products/Message',
                        data: ({ username }),
                        success: function (data) {
                            $('#chats').append(data);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                }

                e.preventDefault();
            });

            $('.add-to-whishlist').on("click", function (e) {

                let id = $(e.delegateTarget).data('id');
                $.ajax({
                    type: "GET",
                    url: '/Profile/Wishlist/Add',
                    data: ({ productId: id }),
                    success: function (data) {
                        if (data) {
                            alert('Product added to wishlist');
                        } else {
                            alert('Product does not exist.');
                        };

                    },
                    error: function () {
                        alert('Error occured');
                    }
                });

                e.preventDefault();
            });

            $('.confirm-delete').click(function (e) {
                if (!confirm('Are you sure you want to delete')) {
                    e.preventDefault();
                }
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
