@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Privacy Policy</h2>
            </div>
        </div>
    </div>
</section>
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login_form_inner">
                    <h3>What We Collect</h3>
                    <h5>Information You Provide to Us</h5>
                    <p>
                        We collect information you provide to us directly when you use the Services. This includes:

                        Account information.  To create an account, you must provide a username and password. Your username is public, and it doesn’t have to be related to your real name. You may also provide an email address. We also store your user account preferences and settings.

                        Content you submit.  We collect the content you submit to the Services. This includes your posts and comments including saved drafts, your messages with other users (e.g., private messages, chats, and modmail), and your reports and other communications with moderators and with us. Your content may include text, links, images, gifs, and videos.

                        Actions you take.  We collect information about the actions you take when using the Services. This includes your interactions with content, like voting and reporting. It also includes your interactions with other users.
                        Transactional information.  If you purchase products or services from us, we will collect certain information from you, including your name, address, email address, and information about the product or service you are purchasing. Payments are processed by third-party payment processors (e.g., Stripe and PayPal), so please refer to the applicable processor’s terms and privacy policy for more information about how payment information is processed and stored.

                        Other information.  You may choose to provide other information directly to us. For example, we may collect information when you fill out a form, request customer support or otherwise communicate with us.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
