@model ICollection<OrderViewModel>

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                @if (Model.Any(p => p.Buyer == this.User.Identity.Name))
                {
                    <h2>Purchase Orders</h2>
                }
                else if(Model.Any(p => p.Seller == this.User.Identity.Name))
                {
                    <h2>Sell Orders</h2>
                }
                
                    <div class="page_link">
                        @if (Model.Any(p => p.Buyer == this.User.Identity.Name))
                        {
                            <a asp-area="Shopping" asp-controller="Products" asp-action="Index">Home</a>
                            <a asp-controller="Orders" asp-action="PurchaseOrders">Purchase orders</a>
                        }
                        else if (Model.Any(p => p.Seller == this.User.Identity.Name))
                        {
                            <a asp-area="Shopping" asp-controller="Products" asp-action="Index">Home</a>
                            <a asp-controller="Orders" asp-action="SellOrders">Sell Orders</a>
                        }

                    </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        @if (Model.Any())
        {
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Size</th>
                                <th scope="col">Quantity</th>
                                @if (Model.Any(p => p.Buyer == this.User.Identity.Name))
                                {
                                    <th scope="col">Seller</th>
                                }
                                else if(Model.Any(p => p.Seller == this.User.Identity.Name))
                                {
                                    <th scope="col">Buyer</th>
                                }
                                
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <partial name="_Order" model="@product" />
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h2 class="text-center">No orders at the moment.</h2>
        }
    </div>
</section>
