@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">You do not have access to this resource.</p>
            </div>
        </div>
    </div>
</section>


