@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Login</h2>
                <div class="page_link">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Account" asp-action="Login">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/images/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>Simply the best dropshipping website you will find in the space.</p>
                        <a class="main_btn" asp-controller="Account" asp-action="Register">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" method="post" id="contactForm">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" asp-for="Input.UserName" placeholder="Name">
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" asp-for="Input.Password" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input asp-for="Input.RememberMe"/>
                                <label asp-for="Input.RememberMe"></label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn submit_btn">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
