@model ProductViewModel
 <div class="item">
    <div class="f_p_item">
        <div class="f_p_img">
            <img class="img-fluid" src="@Model.Image" alt="">
            <div class="p_icon">
                <a href="#"><i class="lnr lnr-heart"></i></a>
                <a href="#"><i class="lnr lnr-cart"></i></a>
            </div>
        </div>
        <a href="#"><h4>@Model.Name</h4></a>
        <h5>$@Model.Price</h5>
    </div>
</div>
                   
