@model CategoryViewModel
<div class="col-lg-6">
    <div class="hot_p_item">
        <img class="img-fluid" src="@Model.Image" alt="">
        <div class="product_text">
            <h4><a asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Id">@Model.Name</a></h4>
        </div>
    </div>
</div>