@model ProductViewModel
<div class="col-lg-3 col-sm-6">
    <div class="most_p_list">
            <div class="media">
                <div class="d-flex">
                    <img width="70" height="70" src="@Model.Image" alt="">
                </div>
                <div class="media-body">
                    <a asp-area="Shopping" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id"><h4>@Model.Name</h4></a>
                    <h3>$@Model.Price.ToString("F2", CultureInfo.InvariantCulture)</h3>
                </div>
            </div>    
    </div>
</div>
